.photo-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(284px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin-top: 92px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
  }
}
  
@media screen and (max-width: 768px) {
  .photo-grid {
    gap: 16px;
    margin-top: 88px;
  }
}
  
@media screen and (max-width: 320px) {
  .photo-grid {
    gap: 12px;
    margin-top: 64px;
  }
}