.place__image {
  width: 100%;
  position: relative;
}

@media screen and (max-width: 631px) {
  .place__image {
    width: 100vw;
    left: -24px;
  }
}

@media screen and (max-width: 425px) {
  .place__image {
     left: -16px;
  }
}
  