.comments__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 19px;
}

@media screen and (max-width: 800px) {
    .comments__container {
        grid-template-columns: 1fr;
        gap: 48px;
    }
}