.cover__subtitle {
  margin: 0;
  margin-top: 32px;
  max-width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}


@media screen and (max-width: 570px) {
  .cover__subtitle {
    margin-top: 5vw;
    max-width: 70%;
    font-style: normal;
    font-weight: normal;
    font-size: 3.3vw;
    line-height: 4.3vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}