.footer__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  margin-right: 18px;
}

@media screen and (max-width: 700px) {
  .footer__link {
    font-size: 18px;
    line-height: 18px;
  }
}

  @media screen and (max-width: 425px) {
  .footer__link {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
  }
}