.lead__title {
  max-width: 720px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 725px) {
  .lead__title {
    font-size: 50px;
    line-height: 54px;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    margin: 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
  }
}