.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 700px) {
  .footer__copyright {
    margin-top: 32px;
  }
}

@media screen and (max-width: 425px) {
  .footer__copyright {
    margin-top: 16px;
    line-height: 14px;
  }
}