.lead__image {
  margin-top: 64px;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}
  
@media screen and (max-width: 768px) {
  .lead__image {
    width: 100vw;
    left: -24px;
  }
}
  
@media screen and (max-width: 425px) {
  .lead__image {
    margin-top: 40px;
    left: -16px;
  }
}