.cover__overlay {
  min-height: 740px;
  background-color: rgba(42, 44, 47, 0.3);
  color: #FFFFFF;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cover__overlay:hover {
  transition: 0.5s;
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 450px) {
  .cover__overlay {
    min-height: 200px;
  }
}